/*
# = id, . = class Coffey = 600x200
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1 { color: black; font-family: "Times New Roman"; }
h1, h2 { font-family: sans-serif; font-family: "Times New Roman" ; }
p {text-align: justify; font-family: Verdana ; }
body { background-color: light-grey; font-family: Verdana; }
ul { list-style: none; }

#topbar {
    padding-top: 6px ;
    background-color: #000;
    height: 220px; 
    background-repeat: no-repeat ;
    background-image: url(pics/coffey.jpg); 
    background-position: right bottom ; 
    color: white ;
    text-align: right ;
    font-size: 9pt ;
    font-style: italic ;
    }
#menu a {
    display: none ;
}
#menu ul li a {
    display: inline ;
}

#content { 
    background-color: #C6DDF5; 
    width: 600px; 
    float: left; }
    
#maincontent {
    background-color : #E5C9B1 ;
    width: 60% ;
    float: left ;
    height: auto ;
    min-height: 500px ;
}

.menu { 
    height: 30px; 
    background-color: #B29C8A;}
.active { 
    background-color: #E5C9B1;
}
#menu {
	width: 600px;
	float: left;
	padding: 0;
	background-color: #B29C8A;
	border-bottom: 1px solid #8EC6DB; 
	border-top: 1px solid #8EC6DB;
	}
#menu li {
	float: left; }
#menu li a {
	font-family: verdana;
	display: block;
	padding: 2px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #000000;
	border-right: 1px solid #8EC6DB; }
#menu li a:hover {
	color: #000;
	background-color: #E5C9B1; }

#container {
    margin: 0 auto;
	background-color: #8EC6DB;
	height: auto;
	width: 600px ; 

}
#subcontent {
    float: right ;
    background-color: #B29C8A ;
	height: auto ;
	min-height: 500px ;
	width: 40% ;
}

#bottomcontent {
	clear: both;
	background-color: #B29C8A;
	height: auto;
	min-height: 50px;
	width: 100%;     